<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Leonardo Tosin</title>
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link type="text/css" rel="stylesheet" href="css/red.css" />
    <link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/cufon.yui.js"></script>
    <script type="text/javascript" src="js/scrollTo.js"></script>
    <script type="text/javascript" src="js/myriad.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript">
        Cufon.replace('h1,h2');
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div class="wrapper-top"></div>
      <div class="wrapper-mid">
        <div id="paper">
          <div class="paper-top"></div>
          <div id="paper-mid">
            <div class="entry">
              <img class="portrait" src="images/eu.jpg" alt="Leonardo B. Tosin"/>
              <div class="self">
                <h1 class="name">Leonardo Tosin <br />
                <span>Android Software Developer</span></h1>
                <ul>
                  <li class="ad">Garibaldi - RS - Brazil</li>
                  <li class="mail">leob.tosin@hotmail.com</li>
                  <li class="web"><a href="http://www.coopsantaclara.com.br">Cooperativa Santa Clara Ltda</a></li>
                </ul>
              </div>
              <div class="social">
                <ul>
                  <li><a class='north' href="https://play.google.com/store/apps/dev?id=5200472266334008653&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" title="Download my Android apps"><img src="images/google-play.png" alt="" /></a></li>
                  <li><a class='north' href="/file/curriculum.pdf" title="Download .pdf" download><img src="images/pdf.png" alt="Download the pdf version" /></a></li>
                  <li><a class='north' href="javascript:window.print()" title="Print"><img src="images/print.png" alt="" /></a></li>
                  <li><a class='north' href="https://www.linkedin.com/in/leonardo-tosin-b57406112/" title="LinkedIn"><img src="images/linkedin.png" alt="" /></a></li>
                  <li><a class='north' href="https://github.com/TheLe0/" title="Follow me on Github"><img src="images/github.png" alt="" /></a></li>
                </ul>
              </div>
            </div>
            <div class="entry">
              <h2>PRESENTATION</h2>
              <p> Software developer with 5+ years of experience, working with web, mobile and desktop development. Open minded person, interested on learning new technologies
              and increase the coding and personal skills. Always avaliable to chat and work with new people.
              <p> Currently working as a .NET and Dynamics AX software developer by day, and Android developer by night.
              <p> Interested on native mobile development, mainly on Android, but have some experience with iOS.
              <p> I'm on continuous growth, the person I am today, may not be the same as yesterday. Inquisitiveness person, always  increasing the knowledge.
            </div>
            <div class="entry">
              <h2>EDUCATION</h2>
              <div class="content">
                <h3>Jan. 2017 - 2022</h3>
                <p>Universidade de Caxias do Sul, Caxias do Sul <br />
                <em>Computer Science bachelor</em></p>
              </div>
              <div class="entry">
                <h2>EXPERIENCE</h2>
                <div class="content">
                  <h3> Apr. 2017 - Sept. 2019</h3>
                  <p>FullStack Developer<br />
                    <em>NuvolaHost Servi&ccedil;os de TI </em>
                    <b>Stack:</b> PHP, Ruby on Rails and JavaScript, MySQL  
                  </p>
                  <ul class="info">
                    <li>Responsive website development</li>
                    <li>Maintenance of webservices</li>
                    <li>Enterprises management systems development</li>
                    <li>Troubleshooting</li>
                  </ul>
                </div>
                <div class="content">
                  <h3> Sept. 2019 - currently</h3>
                  <p>Software Developer<br />
                    <em>Cooperativa Santa Clara Ltda</em>
                    <b>Stack:</b> Dynamics AX, .NET, SQL Server and DB2
                  </p>
                  <ul class="info">
                    <li>Enterprises management systems development</li>
                    <li>Maintance .NET and NodeJS APIs</li>
                    <li>Create reports on SSRS Reports Server</li>
                    <li>Troubleshooting</li>
                    <li>Audit outsourced software development</li>
                  </ul>
                </div>
              </div>
              <div class="entry">
                <div class="content">
                  <h2>Interests</h2>
                  <ul class="skills">
                    <li>Distributed Systems</li>
                    <li>Software Architecture</li>
                    <li>Webservices</li>
                    <li>Serverless</li>
                    <li>Reactive Programming</li>
                    <li>Android</li>
                  </ul>
                </div>
              </div>
              <div class="entry">
                <h2>Stack</h2>
        	      <ul class="works">
                  <!-- Android -->
                   <li><a><img src="images/kotlin.png" alt="Kotlin" /></a></li>
        		       <li><a><img src="images/android.png" alt="Android" /></a></li>
                   <li><a><img src="images/android_studio.png" alt="Android Studio" /></a></li>
                   <li><a><img src="images/gradle.png" alt="Gradle" /></a></li>
        	      </ul>
              </div>
              <div class="entry">
                <h2>Play Store</h2>
        	      <ul class="works">
                   <li><a href='https://play.google.com/store/apps/details?id=br.com.leotosin.xylophone'><img src="images/xylophone.png" alt="Xylophone" /></a></li>
                   <li><a  href='https://play.google.com/store/apps/details?id=com.leotosin.thedicegame&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img src="images/the_dice_game.jpg" alt="The Dice Game" /></a></li>
        	      </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
