<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Leonardo Tosin</title>
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link type="text/css" rel="stylesheet" href="css/red.css" />
    <link type="text/css" rel="stylesheet" href="css/print.css" media="print"/>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/cufon.yui.js"></script>
    <script type="text/javascript" src="js/scrollTo.js"></script>
    <script type="text/javascript" src="js/myriad.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript">
        Cufon.replace('h1,h2');
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div class="wrapper-top"></div>
      <div class="wrapper-mid">
        <div id="paper">
          <div class="paper-top"></div>
          <div id="paper-mid">
            <div class="entry">
              <img class="portrait" src="images/me.jpg" alt="Leonardo B. Tosin"/>
              <div class="self">
                <h1 class="name">Leonardo Tosin <br />
                <span>Software Developer</span></h1>
                <ul>
                  <li class="ad">Garibaldi - RS - Brazil</li>
                  <li class="mail">leob.tosin@hotmail.com</li>
                  <li class="web"><a href="http://www.coopsantaclara.com.br">Cooperativa Santa Clara Ltda</a></li>
                </ul>
              </div>
              <div class="social">
                <ul>
                  <li><a class='north' href="https://play.google.com/store/apps/dev?id=5200472266334008653&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" title="Download my Android apps"><img src="images/google-play.png" alt="" /></a></li>
                  <li><a class='north' href="/file/curriculum.pdf" title="Download .pdf" download><img src="images/pdf.png" alt="Download the pdf version" /></a></li>
                  <li><a class='north' href="javascript:window.print()" title="Print"><img src="images/print.png" alt="" /></a></li>
                </ul>
                <ul>
                  <li><a class='north' href="https://www.linkedin.com/in/leonardo-tosin-b57406112/" title="LinkedIn"><img src="images/linkedin.png" alt="" /></a></li>
                  <li><a class='north' href="https://github.com/TheLe0/" title="Follow me on Github"><img src="images/github.png" alt="" /></a></li>
                  <li><a class='north' href="https://twitter.com/le0the" title="Follow me on Twitter"><img src="images/twitter_icon.png" alt="" /></a></li>
                  <li><a class='north' href="https://thele0.github.io/" title="My blog"><img src="images/blog.png" alt="" /></a></li>
                </ul>
              </div>
            </div>
            <div class="entry">
              <h2>PRESENTATION</h2>
              <p> Software developer with 5+ years of experience, working with web, mobile and desktop development. Open minded person, interested on learning new technologies
              and increase the coding and personal skills. Always avaliable to chat and work with new people.
              <p> Currently working as a .NET and Dynamics AX software developer by day, and build some APIs and mobiles apps on my free time, as a hobby.
              <p> I'm on continuous growth, the person I am today, may not be the same as yesterday. Inquisitiveness person, always  increasing the knowledge.
            </div>
            <div class="entry">
              <h2>EDUCATION</h2>
              <div class="content">
                <h3>Jan. 2017 - 2022</h3>
                <p>Universidade de Caxias do Sul, Caxias do Sul <br />
                <em>Computer Science bachelor</em></p>
              </div>
              <div class="entry">
                <h2>EXPERIENCE</h2>
                 <div class="content">
                  <h3> Sept. 2019 - currently</h3>
                  <p>Software Developer<br />
                    <em>Cooperativa Santa Clara Ltda</em>
                    <b>Stack:</b> Dynamics AX, .NET, SQL Server and Reporting Services
                  </p>
                  <ul class="info">
                    <li>Enterprises management systems development</li>
                    <li>Maintance .NET and NodeJS APIs</li>
                    <li>Create and maintance Android apps</li>
                    <li>Create reports on SSRS Reports Server</li>
                    <li>Troubleshooting</li>
                    <li>Audit outsourced software development</li>
                    <li>Review and deploy customizations</li>
                  </ul>
                </div>
                <div class="content">
                  <h3> Apr. 2017 - Sept. 2019</h3>
                  <p>FullStack Developer<br />
                    <em>NuvolaHost Servi&ccedil;os de TI </em>
                    <b>Stack:</b> PHP, Ruby on Rails, JavaScript and MySQL  
                  </p>
                  <ul class="info">
                    <li>Responsive website development</li>
                    <li>Maintenance of webservices</li>
                    <li>Enterprises management systems development</li>
                    <li>Troubleshooting</li>
                  </ul>
                </div>
              </div>
              <div class="entry">
                <div class="content">
                  <h2>Interests</h2>
                  <ul class="skills">
                    <li>Distributed Systems</li>
                    <li>Software Architecture</li>
                    <li>Webservices</li>
                    <li>Serverless</li>
                    <li>Reactive Programming</li>
                    <li>Cloud Computing</li>
                  </ul>
                </div>
              </div>
              <div class="entry">
                <h2>Stack</h2>
        	      <ul class="works">
                   <li><a><img src="images/c_sharp.png" alt="C#" /></a></li>
        		       <li><a><img src="images/dotnet.png" alt=".NET" /></a></li>
                   <li><a><img src="images/asp-net-logo.png" alt="ASP .NET" /></a></li>
                   <li><a><img src="images/sql_server.jpg" alt="Sql Server" /></a></li>
                   <li><a><img src="images/visual_studio.jpg" alt="Visual Studio" /></a></li>
        		       <li><a><img src="images/dapper.jpg" alt="Dapper" /></a></li>
                   <li><a><img src="images/azure_logo.jpg" alt="Azure" /></a></li>
                   <li><a><img src="images/power_bi.png" alt="Power BI" /></a></li>
        	      </ul>
              <div class="entry">
                <h2>Android apps</h2>
        	      <ul class="works">
                   <li><a href="https://play.google.com/store/apps/details?id=br.com.leotosin.xylophone"><img src="images/xylophone.png" alt="Xylophone" /></a></li>
        		       <li><a href="https://play.google.com/store/apps/details?id=com.leotosin.thedicegame"><img src="images/the_dice_game.jpg" alt="All Dice" /></a></li>
        	      </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
